{% load static %}
<footer style="background: url('/static/portfolio/images/header-back.jpg') no-repeat center center;">
    <div class="container-fluid">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="mt-5">
                <i class="fab fa-python fa-2x"></i>
            </div>
            <div class="mt-2">
                <p>A Website developed with Python-Django framework</p>
            </div>
            <div class="mt-2">
                <a class="footer-link" href=""><i class="fab fa-facebook prefix mr-3"></i></a>
                <a class="footer-link" href=""><i class="fab fa-instagram prefix mr-3"></i></a>
                <a class="footer-link" href=""><i class="fab fa-linkedin prefix mr-3"></i></a>
                <a class="footer-link" href=""><i class="fab fa-github prefix mr-3"></i></a>
            </div>
            <div class="my-5">
                <small class="white-text">Copyright &copy 2020 reserved | This template is made with 
                    <i class="far fa-heart"></i> by Praveen-Phatak</small>
            </div>

        </div>


    </div>
</footer>