{% extends 'portfolio/base.html' %}
{% load static %}


{% block title %}
Portfolio | Home
{% endblock title %}


{% block stylesheet %}
<link href="{% static 'portfolio/css/style.css' %}" rel="stylesheet">
{% endblock stylesheet %}


{% block header-content %}
{% include 'portfolio/navbar.html' %}
<div class="view intro-2" style="background: url('/static/portfolio/images/back2.jpg');">
    <div class="full-bg-img">
        <div class="mask d-flex flex-center justify-content-center ml-auto">
            <div class="text-center white-text wow fadeInUp">
                <h1 id="name">Praveen Phatak</h1>
                <h5 id="website" class="mt-5">Personal Portfolio Website</h5>

            </div>
        </div>
        <!-- <i class="fas fa-angle-double-down fa-2x"></i> -->
    </div>
    <a class="purple-gradient" href="">
        <span class="vertical-line"></span>
        <i class="fas fa-angle-double-down fa-2x"></i>
    </a>
</div>

{% endblock header-content %}


{% block main-content %}
<section class="work-area" style="background: url('/static/portfolio/images/intro.jpg') no-repeat center center;">
    <div class="container-fluid align-middle">
        <div class="row">
            <div class="view overlay zoom col-md-4 offset-md-1 align-middle">
                <img src="{% static 'portfolio/images/dp.jpg' %}" class="img-fluid rounded-circle" alt="zoom">
            </div>
            <div class="col-md-5 ml-md-2 align-middle">
                <h2>About Myself</h2>
                <hr class="hr-light">
                <p class="mt-md-4" align="justify">IT Professional with 14+ years of experience in Application
                    Development. Started my career as a Mainframe COBOL developer, but got sucked into the realm of web
                    development
                    after developing an interest in Python-Django.
                </p>

                <a class="btn purple-gradient btn-rounded" href="{% url 'portfolio:about' %}">More Info</a>
            </div>
        </div>
    </div>
</section>


{% endblock main-content %}